<ol class="items-list modifiers-list">
  <li class="items-header flexrow">
    <h3 class="item-name modifier-name">Name</h3>
    <div class="modifier-mod">Modifier</div>
    <div class="modifier-type">Type</div>
    <div class="modifier-effect-type">Effect Type</div>
    <div class="modifier-value-affected">Value Affected</div>
    <div class="item-controls">
      <a class="modifier-create" title="Add Modifier">
        <i class="fas fa-plus"></i> Add
      </a>
    </div>
  </li>

  <ol class="item-list">
  {{#each modifiers as |modifier|}}
    <li class="item modifier flexrow" data-modifier-id="{{modifier._id}}">
      <div class="item-name modifier-name">
        <h4>{{modifier.name}}</h4>
      </div>
      <div class="modifier-mod">{{modifier.modifier}}</div>
      <div class="modifier-type">{{modifier.type}}</div>
      <div class="modifier-effect-type">{{modifier.effectType}}</div>
      <div class="modifier-value-affected">{{modifier.valueAffected}}</div>
      <div class="item-controls">
        <a class="modifier-toggle" title="Toggle Modifier">
          <i class="{{#if modifier.enabled}}far fa-check-square{{else}}far fa-square{{/if}}"></i>
        </a>
        <a class="modifier-edit" title="Edit Modifier">
          <i class="fas fa-edit"></i>
        </a>
        <a class="modifier-delete" title="Delete Modifier">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </li>
  {{/each}}
  </ol>
</ol>
