{{!-- This template is a fallback for when items don't have more specific templates. --}}
{{!-- Generally, you'll want to make more specific templates when possible. --}}
<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor system.description target="system.description" rollData=rollData button=true owner=owner
            editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="grid grid-3col">
                <div class="resource">
                    <label class="resource-label">Head</label>
                    <input type="number" name="system.head" value="{{system.head}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Body</label>
                    <input type="number" name="system.body" value="{{system.body}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Left Arm</label>
                    <input type="number" name="system.left_arm" value="{{system.left_arm}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Right Arm</label>
                    <input type="number" name="system.right_arm" value="{{system.right_arm}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Left Leg</label>
                    <input type="number" name="system.left_leg" value="{{system.left_leg}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Right Leg</label>
                    <input type="number" name="system.right_leg" value="{{system.right_leg}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Requisition</label>
                    <input type="number" name="system.req" value="{{system.req}}" data-dtype="Number" min="0" />
                </div>
                <div class="resource">
                    <label class="resource-label">Renown</label>
                    <input type="text" name="system.renown" value="{{system.renown}}" />
                </div>
            </div>
            <div class="grid grid-2col">
                <div class="resource">
                    <label class="resource-label">Book</label>
                    <input type="text" name="system.book" value="{{system.book}}" />
                </div>
                <div class="resource">
                    <label class="resource-label">Page</label>
                    <input type="text" name="system.page" value="{{system.page}}" />
                </div>
            </div>
            <h3>Effects</h3>
            <div class="resource">
                <label class="resource-label">Special Effects</label>
                <textarea name="system.effects" rows="3" style="width: 100%;">{{system.effects}}</textarea>
            </div>
            <h3>Histories</h3>
            <div class="histories-list">
                {{#each system.attachedHistories}}
                <div class="history-item" style="display: flex; align-items: center; margin-bottom: 5px; padding: 5px; border: 1px solid #999;">
                    <img src="{{this.img}}" style="width: 30px; height: 30px; margin-right: 10px;" />
                    <span style="flex: 1;">{{this.name}}</span>
                    <a class="history-remove" data-history-id="{{this._id}}" title="Remove History"><i class="fas fa-times"></i></a>
                </div>
                {{/each}}
            </div>
        </div>
    </section>
</form>