<div class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="form-group" style="margin-top: 5px;">
        <label style="font-weight: normal; font-size: 0.9em;">Chapter:</label>
        <input type="text" name="system.chapter" value="{{system.chapter}}" placeholder="e.g., Black Templars, All" style="margin-top: 2px;" />
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="source">Source</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{#if editable}}
      <prose-mirror name="system.description"
                    value="{{source.description}}"
                    document-uuid="{{item.uuid}}"
                    style="height: 100%;">
      </prose-mirror>
      {{else}}
      <div class="editor" style="height: 100%; padding: 8px; overflow-y: auto;">
        <div class="editor-content">{{{enriched.description}}}</div>
      </div>
      {{/if}}
    </div>
    <div class="tab" data-group="primary" data-tab="source">
      <div class="form-group flexrow">
        <div class="flex1">
          <label>Book:</label>
          <input type="text" name="system.book" value="{{system.book}}" placeholder="e.g., Core Rulebook" />
        </div>
        <div class="flex1">
          <label>Page:</label>
          <input type="text" name="system.page" value="{{system.page}}" placeholder="e.g., 40" />
        </div>
      </div>
    </div>
  </section>
</div>
